body,
html {
  background-color: rebeccapurple;
  overflow: hidden;
}
.h1 {
  position: relative;
  left: 150px;
  bottom: 50px;
}
.h2 {
  position: relative;
  top: 20%;
  left: 20%;
  color: aliceblue;
}
.h3 {
  color: chartreuse;
  position: relative;
  left: 35%;
  top: 100px;
}
.imgs {
  width: 100px;
  height: 100px;
  margin: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
#imgsdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 856px) {
  body,
  html {
    overflow: hidden;
  }
  #imgsdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h1,
  .h2,
  .h3 {
    position: relative;
    left: 10px;
  }
}

